/* reset */
* { box-sizing: border-box;}
html, body { min-height: 100%; -webkit-text-size-adjust: none; }
body { font-family: Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; width: 100%; font-size: 12px;}
body,ul,li,ol,h1,h2,h3,h4,p,img,input,select { margin: 0; padding: 0}
a { text-decoration: none; color: #767777;}
em,i { font-style: normal;}
h1,h2,h3 { font-size: 100%; font-weight: normal;}
ul { list-style: none;}
/* utils */
.clearfix { *zoom: 1;}
.clearfix:after { content: ''; clear: both; display: table; height: 0;}
/* common */
.wrapper { width: 1280px; margin: 0 auto;}
section { overflow: hidden; position: relative;}
/* header */
.header { height: 56px; width: 1280px; margin: 0 auto;}
.header .logo { float: left; width: 110px; margin-left: 60px; height: 56px; line-height: 56px; padding-left: 42px; font-size: 21px; color: #393a3a; background: url(../images/logo.png) left center no-repeat;}
.header nav { float: right;}
.header nav .navlist { overflow: hidden; margin-right: 118px;}
.header nav .navlist a { font-size: 14px; color: #787b83; display: inline-block; padding: 0 18px; height: 56px; line-height: 56px;}
.header nav .navlist a:hover,
.header nav .navlist a.active {  border-bottom: 5px solid #e8504e;}
.header nav .login { cursor: pointer; float: right; width: 100px; height: 56px; line-height: 56px; font-size: 14px; color: #e74f4d; padding-left: 21px; background: url(../images/user-ico.png) left center no-repeat;}

/* section */
.s1 { background: url(../images/s1-banner.jpg) no-repeat center -1px; height: 690px;}
.s1 .textcontent .showbtn { position: absolute; top: 210px; left: 0; width: 332px; line-height: 56px; height: 56px; background: #e74f4d; font-size: 30px; color: #fff; text-align: center; }
.s1 .textcontent { width: 502px; position: absolute; top: 235px; left: 116px; color: #fff;}
.s1 .textcontent .tit { font-size: 60px; letter-spacing: 3px;}
.s1 .textcontent .desc { font-size: 21px; margin-top: 30px;}

.s2 { margin: 45px 0 65px; height: 142px; background: url(../images/s1-show.png) no-repeat center top;}
.s2 > div { width: 25%; float: left; position: relative;}
.s2 > div p { width: 156px; height: 54px; line-height: 20px; font-size: 14px; color: #767777; text-align: center; margin: 90px auto;}
.s2 > div:after { content: ' '; width: 1px; height: 54px; background: #767777; position: absolute; right: 0; top: 90px;}
.s2 > div:last-child:after { width: 0;}

.s3 .titbox { height: 360px; background: #ededec; padding-top: 1px;}
.s3 .titbox .tit { position: relative; background: #ededec; margin-top: 230px; text-align: center; color: #323333; font-size: 54px;}
.s3 .titbox .tit>i { position: absolute; width: 91px; height: 92px; background: url(../images/s3-tit-ico.png) no-repeat; top: -142px; left: 50%; margin-left: -45px;}
.s3 .searchHelp { height: 341px; padding-top: 1px; background: url(../images/s3-banner.jpg) no-repeat center center;}
.s3 .searchHelp .text { height: 66px; margin-top: 53px; color: #fff;}
.s3 .searchHelp .text .tit { line-height: 22px; text-align: center; margin-top: 53px; font-size: 21px; position: relative;}
.s3 .searchHelp .text .tit:after { content: ''; background: #fff; width: 30px; height: 3px; position: absolute; bottom: -10px; left: 50%; margin-left: -15px;}
.s3 .searchHelp .text .desc { font-size: 12px; text-align: center; margin-top: 32px;}
.s3 .searchHelp form { height: 50px; text-align: center; margin-top: 52px; line-height: 50px;}
.s3 .searchHelp form > p { width: 237px; height: 37px; display: inline-block; margin-right: 30px;}
.s3 .searchHelp form > p select {  width: 100%; height: 37px; line-height: 37px; border: none;}
.s3 .searchHelp form > p .searchBtn { display: block;width: 237px; height: 37px; line-height: 37px; text-align: center; font-size: 14px; color: #fff; letter-spacing: 20px; background: #be4f48;}
.selectBox-dropdown { height: 37px; background: #fff; border: 1px solid #be4e48;}
.selectBox-arrow { width: 32px; height: 37px; background: url(../images/select-ico.jpg) no-repeat center center;}
.selectBox-options { background: #e3e2e4; border: 1px solid #be4e48;}
.selectBox-options li a { padding-left: 32px; height: 27px; line-height: 27px; font-size: 12px; color: #a8aaaa; text-align: left;}
.selectBox-options li a:hover { background: #be4e48; color: #fff;}
.selectBox-options li a:hover::before { content: ''; position: absolute; height: 27px; width: 12px; background: url(../images/gou.png) no-repeat center center; top: 0; left: 10px;}
.selectBox-dropdown .selectBox-label { text-align: left; font-size: 12px; color: #a8aaaa; width: 100% !important;}

.s4 { height: 602px; background: #f7f7f7; text-align: center; line-height: 602px;}
.s4 .item { width: 220px; height: 390px; vertical-align: middle; display: inline-block; margin-left: 36px;}
.s4 .item:first-child { margin-left: 0;}
.s4 .item .img { height: 337px; border: 1px solid #cecece; display: block;}
.s4 .item .imgtxt { height: 53px; line-height: 26px;}
.s4 .item .imgtxt span { display: block;}
.s4 .item .imgtxt .tit { font-size: 14px; color: #000;}
.s4 .item .imgtxt .desc { font-size: 12px; color: #777;}
.s4 .item1 .img { background: url(../images/s4-1.jpg) no-repeat center center;}
.s4 .item2 .img { background: url(../images/s4-2.jpg) no-repeat center center;}
.s4 .item3 .img { background: url(../images/s4-3.jpg) no-repeat center center;}
.s4 .item4 .img { background: url(../images/s4-4.jpg) no-repeat center center;}

.s5 {}
.s5 .lunbo-wrap { height: 566px;}
.s5 .lunbo-wrap li { float: left; width: 100%;}
.s5 .lunbo-wrap li .show { width: 851px; height: 566px; position: relative; float: left; }
.s5 .lunbo-wrap li .show img { width: 100%;}
.s5 .lunbo-wrap .show .showtxt { width: 100%; position: absolute; top: 133px; left: 0;}
.s5 .lunbo-wrap .show .showtxt span { display: block; text-align: center; color: #fff;}
.s5 .lunbo-wrap .show .showtxt .subtit { font-size: 50px;}
.s5 .lunbo-wrap .show .showtxt .tit { font-size: 158px;}
.s5 .lunbo-wrap .show .showtxt .author { font-size: 22px;}
.s5 .lunbo-wrap .show .showtxt .time { margin-top: 25px;}
.s5 .lunbo-wrap li .content { overflow: hidden; height: 566px;}
.s5 .lunbo-wrap li .content .slidetxt { width: 290px; margin: 165px auto 0;}
.s5 .lunbo-wrap li .content .slidetxt .tit { font-size: 20px; text-align: center; color: #000; position: relative;}
.s5 .lunbo-wrap li .content .slidetxt .tit i { font-size: 20px; color: #e74f4d;}
.s5 .lunbo-wrap li .content .slidetxt .desc { line-height: 30px; font-size: 12px; color: #bbb; margin-top: 13px;}
.s5 .lunbo-wrap li .content .slidetxt .undermore { width: 106px; height: 33px; line-height: 33px; display: block; margin: 0 auto; border: 1px solid #e77b7e; text-align: center; color: #e77b7e;}
.s5 .lunbo-wrap li .content .slidetxt .undermore:hover { background: #e77b7e; color: #fff;}
.s5 .lunbo-wrap .show .arrow { top: 50%; margin-top: -13px; right: -1px; position: absolute; width: 26px; height: 31px; background: url(../images/l-arrow.png) no-repeat;}
.s5 .morebox { height: 521px;}
.s5 .morebox .item { width: 33.3333%; height: 520px; float: left; padding-top: 1px;}
.s5 .morebox .item1 { background: #e74f4d;}
.s5 .morebox .item3 { background: url(../images/s5-m1.jpg) no-repeat center center;}
.s5 .morebox .item .content { margin-top: 163px;}
.s5 .morebox .item .content p { text-align: center; font-size: 20px; color: #fff; line-height: 31px;}
.s5 .morebox .item .content .desc:after { width: 32px; height: 2px; background: #fff; position: absolute; left: 50%; margin-left: -16px; bottom: -28px;}
.s5 .morebox .item .content .mbtn { margin: 50px auto 0; display: block; width: 170px; border: 1px solid #fff; height: 42px; line-height: 42px; text-align: center; font-size: 20px; color: #fff;}
.s5 .morebox .item1 .content .mbtn:hover { background: #fff; color: #e77b7e;}
.s5 .morebox .item2 .content .mbtn { border-color: #e77b7e; color: #e77b7e;}
.s5 .morebox .item2 .content .mbtn:hover { background: #e77b7e; color: #fff;}
.s5 .morebox .item2 .content p { color: #000;}

.s6 { padding-top: 1px;}
.s6 .alltalk { width: 424px; margin: 120px auto 102px;}
.s6 .alltalk p { text-align: center; }
.s6 .alltalk .tit { font-size: 21px; color: #323333; position: relative;}
.s6 .alltalk .tit:after { bottom: -9px; left: 50%; margin-left: -16px;;content: ''; width: 31px; height: 2px; background: #ea6563; position: absolute;}
.s6 .alltalk .desc { line-height: 18px; font-size: 12px; color: #aaaaaa; margin-top: 28px;}
